extends ../layout

block content
    .container
        .row
            .col-md-4
                img(src= movie.photo,  width="100%")
            .col-md-8
                dl.dl-horizontal
                    dt Title
                    dd= movie.title
                    dt Price
                    dd= '$' + movie.price
                    dt Brand SpokesPerson
                    dd= movie.actors
                    dt Country
                    dd= movie.country
                    dt Description
                    dd= movie.description
            hr.col-md-12
            ul.col-md-12
                each item in comments
                    li.row.comment-list-item
                        .col-1
                            a(href="#comments", data-Toid=item._id, data-Fromid=item.from.id)
                                img(src="images/user-1.png")
                        .col-11
                            h6
                                b #{item.from.name}
                                p #{item.content}
            .col-md-12
                #comments
                    form(method="POST", action="/user/comment")
                        input(type='hidden', name='comment[product]', value= movie._id)
                        input(type='hidden', name='comment[from]', value= user._id)
                        .form-group
                            textarea.form-control(name="comment[content]")
                        button.btn.btn-primary.comment(type='submit') SUBMIT