extends ../layout
block content
    .container
        .row
            table.table.table-hover.table-bordered
                thead
                    tr
                        th Title
                        th Price
                        th Country
                        th Time
                        th View
                        th Delete
                tbody
                    each item in movies
                        tr(class="item-id-" + item._id)
                            td #{item.title}
                            td $#{item.price}
                            td #{item.language}
                            td #{moment(item.meta.createdAt).format('MM/DD/YYYY')}
                            td: a(href="../movie/" + item._id) Quick View
                            //td: a(href="../admin/update/" + item._id) 修改
                            td
                                button.btn.btn-danger.del(type="button", data-id=item._id) Delete
