extends ../layout

block content
    .container
        .row
            .col-md-6
                img(src= movie.photo,  width="100%")
            .col-md-6
                dl.dl-horizontal
                    dt 电影名字
                    dd= movie.title
                    dt 导演
                    dd= movie.doctor
                    dt 演员
                    dd= movie.actors
                    dt 语言
                    dd= movie.language
                    dt 简介
                    dd= movie.description