extends ../layout

block content
    .container
        .row
            .col-md-8
                video(src='',  width="100%", controls=true)
            .col-md-4
                dl.dl-horizontal
                    dt 电影名字
                    dd= movie.title
                    dt 国家
                    dd= movie.country
                    dt 导演
                    dd= movie.doctor
                    dt 语言
                    dd= movie.language